# Decide host and port for your Cat. Default will be localhost:1865
# General settings for Cheshire Cat Core
CORE_HOST=localhost              # Hostname for core service
CORE_PORT=1865                   # Port for core service
LOG_LEVEL=WARNING                # Default log level for all services
DEBUG=false                      # Enable debugging for more verbose logs
# CORE_USE_SECURE_PROTOCOLS=true  # Uncomment to enable HTTPS/WSS for secure connections
# API_KEY=meow                    # Uncomment to set an API key for protected endpoints

# Settings for Qdrant vector memory service
# Uncomment and set the following if you need to specify custom settings
QDRANT_HOST=cheshire_cat_vector_memory  # Hostname for the Qdrant service
QDRANT_PORT=6333                        # External port for Qdrant service

# Feature toggles
SAVE_MEMORY_SNAPSHOTS=false      # Toggle for saving memory snapshots on embedder change

# Ollama-specific settings
OLLAMA_PORT=11434                # External port for Ollama service
OLLAMA_FLASH_ATTENTION=false     # Flash attention setting for Ollama service
OLLAMA_DEBUG=false               # Debug mode for Ollama service
